SUPABASE_URL=https://qhejbiahozarxkpkcnzf.supabase.co

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFoZWpiaWFob3phcnhrcGtjbnpmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTg3NDAyNiwiZXhwIjoyMDk3NDUwMDI2fQ.4wEf3GluVyDLITe4HnNGvzHvoOhiP3-YBCVlKDN1pJo

JWT_SECRET=sb_secret_Zjjek9ESjvt1F601ldymZw_3NKBgtlZ

SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFoZWpiaWFob3phcnhrcGtjbnpmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4NzQwMjYsImV4cCI6MjA5NzQ1MDAyNn0.i-e6aANN1q8Jc_AfqDnexegIE281xRdOAgVGYTfZjWs

OPENAI_API_KEY=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